@import "tailwindcss";


@theme {
  --color-background-default: grey;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background-default);
  }

  nav {

  }
}