@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


/* Note */
/* TODO:
 - Define variabbles: 
    - Default backgroun}d color light/dark 
    - Default button color light/dark 
    - Default card color light/dark 
    - Default highlight color light/dark
    - Default border color light/dark 
    - Default border radius
    - Default text color light/dark
    - Default logo style (color, radius, 

*/

@theme inline{
  --color-background-main: #0E100F;
  --color-background-lighter: #1A1D1B;
  --color-hero-highlight: #881300;
  --color-highlight: #CB4D03;

  --color-border: #ffffe3;
  --color-button-background: #20D3BD;
  --color-button-highlight: #5e13eb;
  --color-card-background: #191917;
  
  --color-background-button: #179889;
  --color-background-button-highlight: #20D3BD;

  --color-navbar-background: ##191c1b;
  --spacing-navbar-height: 5rem;
  --spacing-navbar-mobile-height: calc(var(--spacing-navbar-height) * 0.7);
  --spacing-body-padding-top: calc(var(--spacing-navbar-height) + 1rem);

  --color-text-default: #ffffe3;
  --color-text-muted: #B1B19D;
  --color-text-extra-muted: #727266;
  --color-accent1: #A374FF;
  --color-accent2: #20D3BD;
  --color-accent3: #dc5603;
  --color-accent3-muted: #CB4D03;
  --color-accent4: #42F5A5;
  --color-accent5: #06BAD5;


  --color-logo-react: #60DCFB;
  --color-logo-redux: #764ABD;
  --color-logo-typescript: #20D3BD;
  --color-logo-javascript: #EFDB4E;
  --color-logo-express: #FFFFF0;
  --color-logo-nodejs: #83CD29;
  --color-logo-tailwind: #39BDF9;
  --color-logo-postgresql: #326691;
  --color-logo-mongodb: #419830;

  --color-card1: #191917;
  --color-card-tag: #222623;
  /* --color-card-dimming: color-mix(in srgb, var(--color-background-main) 90%, transparent); */


  --font-default: 'Space Grotesk' sans-serif;
  /* --color-navbar-background: #02d1b2; */
}

@layer base {
  ::selection { 
    background: #f2d385;
    color: var(--color-background-main);
  }

  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }

  body {
    background-color: var(--color-background-main);
    color: var(--color-text-default);
    font-family: 'Space Grotesk' sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* padding-top: var(--spacing-navbar-height) */
  }

  /* nav.active{
    background-color: aqua;
  }

  # -buttons-container {
    transform: scale(1) ;
    border-radius: 80%;
    transition: transform 0.2s ease, border-radius 1s ease;
  }

  @media screen and (max-width: 900px){
    #navbar-buttons-container {
      transform: scale(0.5); 
      border-radius: 0%;
    }
  }

  #logo{ 
    font-family: 'Space Grotesk', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  */
}

@layer components{
  /* Navbar appearance when not scrolled down */
  .navbar-regular {
    height: 100%;
    padding: 0 0.75rem;
    transition: all 0.5s ease;
  }

  /* Make navbar sections into glass display */
  .navbar-glass { 
    /* background-color: color-mix(in srgb, var(--color-background-main) 60%, transparent);
    color: var(--color-text-muted);
    backdrop-filter: blur(0.5rem); */
    height: 60%;
    padding: 0 2rem;
    border-radius: 50px;
    background-color: color-mix(in srgb, var(--color-accent3-muted) 7%, transparent);
    color: var(--color-text-default);
    backdrop-filter: blur(0.5rem);
    transition: all 0.5s ease;
  }

  .navbar-glass#navbar-cta-container { 
    background-color: color-mix(in srgb, var(--color-accent3) 40%, transparent);
  }

  /* Changes background of all glass containers when hover in navbar area*/
  #navbar-desktop-container:hover .navbar-glass{
    background-color: var(--color-text-default);
    color: var(--color-background-lighter);
  }

  /* ///////Previous implementation of glass containers////// */
  .navbar-full {
    background-color: var(--color-background-main);
    /* border-color: transparent; */
    border-radius: 0px;
    /* border-bottom: solid; */
    margin-top: 0rem;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    /* border-bottom: 1px solid var(--color-text-default); */
  }

  .navbar-full:hover {
    background-color: var(--color-text-default);
    color: var(--color-background-main);
  }

  .navbar-compact {
    background-color: var(--color-navbar-background);
    /* border-color: white; */
    border-radius: 50px; 
    margin-top: 1rem;
    width: 60%;
    height: 70%;
    background-color: color-mix(in srgb, var(--color-background-main) 60%, transparent);
    color: var(--color-text-muted);
    backdrop-filter: blur(0.5rem);
    transition: all 0.5s ease;
    /* border: 0.75px solid color-mix(in srgb, color var(--color-accent1) 50%, transparent) */
  }

  .navbar-compact:hover {
    background-color: var(--color-text-default);
    color: var(--color-background-lighter);
  }
  /* ////////////////////////////////////////// */

  .role-grid-container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    place-content: center;
  }

  /* .navbar-compact #navbar-buttons-container {
    padding-left: 2;
    padding-right: 2;
  } */

  .font-heading-1 {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 900;
  }

  .font-heading-2 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 750;
  }

  .font-heading-3 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
  }

  .animation {
    background-color: aqua;
    transition: all 2s ease;
  }

  .chat-bubble-cursor:hover {
    /* Specify the path to your chat bubble image */
    /* The number coordinates (optional) adjust the hotspot position */
    /* 'auto' or 'pointer' should be the final fallback keyword */
    /* cursor: url('@/public/images/React.png'), auto; */
    color:#BA0000;
  }

  @keyframes animation {
    from {
      background-color: #BA0000;
    }
    to {
      background-color: yellow;
    }
  }
}

@layer utilities{
  .card-bg-behavior {
    background-size: cover;
    background-position: center;
    /* background-color: color-mix(in srgb, black 50%, white 50%); */
    filter: grayscale(30%);
    transition: transform 0.5s ease; 
  }

  .card-bg-behavior:hover {
    transform: scale(1.2);
    filter: grayscale(0%);
  }
}