@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


/* Note */
/* TODO:
 - Define variabbles: 
    - Default backgroun}d color light/dark 
    - Default button color light/dark 
    - Default card color light/dark 
    - Default highlight color light/dark
    - Default border color light/dark 
    - Default border radius
    - Default text color light/dark
    - Default logo style (color, radius, 

*/

@theme {
  --color-background-main: #0E100F;
  --color-background-lighter: #4F4F48;
  /* --color-background-main: #1A191D; */
  /* --color-background-neutral-dark: #1A191D; */
  --color-highlight: #da1600;

  --color-border: #ffffe3;
  --color-button-background: #20D3BD;
  --color-button-highlight: #5e13eb;
  --color-card-background: #191917;
  
  --color-background-button: #179889;
  --color-background-button-highlight: #20D3BD;

  --color-navbar-background: ##191c1b;
  --spacing-navbar-height: 5rem;

  --color-text-default: #ffffe3;
  --color-text-muted: #B1B19D;
  --color-text-extra-muted: #727266;
  --color-accent1: #A374FF;
  --color-accent2: #20D3BD;
  --color-accent3: #dc5603;
  --color-accent4: #A374FF;
  --color-accent5: #18F1D1;


  --color-logo-react: #ffffe3;
  --color-logo-redux: #ffffe3;
  --color-logo-typescript: #20D3BD;
  --color-logo-node: #bbd317;

  --color-card1: #191917;

  --font-default: 'Space Grotesk' sans-serif;
  /* --color-navbar-background: #02d1b2; */
}

@layer base {
  ::selection { 
    background: #f2d385;
    color: var(--color-background-main);
  }

  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }

  body {
    background-color: var(--color-background-main);
    color: var(--color-text-default);
    font-family: 'Space Grotesk' sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    /* padding-top: var(--spacing-navbar-height) */
  }

  /* nav.active{
    background-color: aqua;
  }

  # -buttons-container {
    transform: scale(1) ;
    border-radius: 80%;
    transition: transform 0.2s ease, border-radius 1s ease;
  }

  @media screen and (max-width: 900px){
    #navbar-buttons-container {
      transform: scale(0.5); 
      border-radius: 0%;
    }
  }

  #logo{ 
    font-family: 'Space Grotesk', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }  */
}

@layer components{
  /* .glass { 
    background-color: color-mix(in srgb, var(--color-background-button) 50%, transparent);
    backdrop-filter: blur(16px);
    border: color-mix(in srgb, var(--color-background-button) 50%, transparent);
  } */

  .navbar-full {
    background-color: var(--color-background-main);
    border-color: transparent;
    border-radius: 0px;
    border-bottom: solid;
    margin-top: 0rem;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
  }

  .navbar-compact {
    background-color: var(--color-navbar-background);
    /* border-color: white; */
    border-radius: 50px; 
    margin-top: 1rem;
    width: 60%;
    height: 70%;
    background-color: color-mix(in srgb, var(--color-background-main) 90%, transparent);
    transition: all 0.5s ease;
  }

  .role-grid-container { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    place-content: center;
  }

  /* .navbar-compact #navbar-buttons-container {
    padding-left: 2;
    padding-right: 2;
  } */

  .font-heading-1 {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 900;
  }

  .font-heading-2 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 750;
  }

  .font-heading-3 {
    font-size: 3rem;
    line-height: 1;
    font-weight: 600;
  }

  .animation {
    background-color: aqua;
    transition: all 2s ease;
  }

  .chat-bubble-cursor:hover {
    /* Specify the path to your chat bubble image */
    /* The number coordinates (optional) adjust the hotspot position */
    /* 'auto' or 'pointer' should be the final fallback keyword */
    cursor: url('@/assets/React.png'), auto;
    color:#BA0000;
  }

  @keyframes animation {
    from {
      background-color: #BA0000;
    }
    to {
      background-color: yellow;
    }
  }
}

@layer utilities{

}